.error{
    display:flex;
    align-items: center;
    margin:auto auto;
    
    height:100vh;
    justify-content: center;
}

.error_inner{
    display:flex;
    flex-direction: column;
    align-items: center;
}